.has-text-centered
  %h1.title.is-1= @species.name
  .subtitle.is-5
    %i.fal.fa-globe
    Aleen Minor
%hr
= link_to "Edit", [:edit, :encyclopedia, @species], class: 'edit-style button is-warning is-light'

.columns
  .column
    %table.table
      %thead
        %tr
          %th Brawn
          %th Agility
          %th Intellect
          %th Cunning
          %th Willpower
          %th Presence
      %tbody
        %tr
          %td= @species.brawn
          %td= @species.agility
          %td= @species.intellect
          %td= @species.cunning
          %td= @species.willpower
          %td= @species.presence
  .column
    %table.table
      %thead
        %tr
          %th{ colspan: 2 } Thresholds
          %th Experience
      %tbody
        %tr
          %td Wounds
          %td= @species.wound_threshold
          %td= @species.experience
        %tr
          %td Strain
          %td= @species.strain_threshold


.tabs
  %ul
    %li.is-active
      %a Description
    %li 
      %a Homeworld
    %li
      %a Physiology
    %li
      %a Society
    %li
      %a Languages
    %li
      %a Force Perception 

= @species.description

%p 
  Source:
  = @species.source.name